 <div class="container">
 
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit-2">
        <h1>Welcome to Trackr!</h1>
        <p>A simple bug and feature management system. </p>
        <p><%= link_to "Dashboard »", posts_path, class: "btn btn-inverse btn-large" %></p>
      </div>
 
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
        	 
          <a class="btn" href="/posts/mytickets"> <h2>My Tickets&raquo;</h2> </a><br />
          <br /><p>It includes tickets I created and tickets which are assigned to me.</p>
         
        </div>
        <div class="span4">
        <a class="btn" href="/f/category/1"> <h2>Features&raquo;</h2> </a><br />
         <br /> <p>All tickets belongs to Feature Category are displayed here.</p>
         
       </div>
        <div class="span4">
           <a class="btn" href="/f/category/2"> <h2>Bugs&raquo;</h2></a><br />
          <br /><p>All tickets belongs to Bug Category are displayed here.</p>
          
        </div>
      </div>
       

      <hr>

      <footer>
        <p>&copy; Copyright 2012</p>
      </footer>

    </div> <!-- /container -->