<html>
	<head>
	  <title>error</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<h1>Error</h1>
	<h2>You have no right to open this ticket!</h2>
	<%= yield %>
</html>
